@media screen and (max-width: 479px){
  .header{
    width: 200px;
    height: 200px;

  }

  .header-box{
    width: 60px;
    height: 160px;
    flex-direction: column;
    margin: 20px 70px;

  }

  .header-box-center{
    margin: auto;
  }

  .header-box-right{
    margin-left: 10px;
  }

  .left{
    width: 200px;
    height: 100px;
    float: none;
  }

  .right{
    width: 200px;
    height: 210px;
    background-color: #8c2727;
  }

  .right-top{
    margin: 20px 25px 10px 25px;

  }

  .right-center{
    margin: 10px 25px 10px 25px;
  }

  .right-under{
    margin: 10px 25px 20px 25px;
  }

  .footer{
    width: 200px;
    height: 100px;
    background-color: #d98d30;
  }
}
